[submodule "marslogger_android"]
	path = marslogger_android
	url = https://github.com/OSUPCVLab/marslogger_android.git
[submodule "marslogger_ios"]
	path = marslogger_ios
	url = https://github.com/OSUPCVLab/marslogger_ios.git
