<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rpng.recorder">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.wifi" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main activity that handles everything -->
        <activity
            android:name="io.rpng.recorder.activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Our settings activity -->
        <activity
            android:name="io.rpng.recorder.activities.SettingsActivity"
            android:screenOrientation="portrait"/>

        <!-- Our result activity -->
        <activity
            android:name="io.rpng.recorder.activities.ResultsActivity"
            android:screenOrientation="portrait"/>

        <!-- Our info activity -->
        <activity android:name="io.rpng.recorder.activities.InfoActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>